
<div class="row-fluid">
 <div class="span4">

<h2>Sign up</h2>

  <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  
  		<%= f.input :first_name %><br />
  
    	<%= f.input :last_name %><br />
 
 		<%= f.input :profile_name %><br />

  		<%= f.input :email, placeholder: 'user@domain.com' %><br />

        <%= f.input :password, hint: 'No special characters.' %><br />

    	<%= f.input :password_confirmation, hint: 'Please confirm your password.' %><br />

 		<%= f.button :submit, "Sign up" %>

		<% end %>
    
    </div>

        <div class="span4 offset2">
         <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), html: {class: "well"}) do |f| %>

          <fieldset>
          <legend>Already have an account? </br >
           Sign In</legend> 
          
                <%= f.input :email %>
                <%= f.input :password %>


          <% if devise_mapping.rememberable? -%>
            <div><%= f.input :remember_me, as: :boolean %></div>
          <% end -%>

          <div><%= f.button :submit, "Sign in" %></div>
        </fieldset>
        <% end %>
        </div>
          </div>
